<!DOCTYPE html>
<html>
<head>
	<title>The weight app</title>
	 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class=brand><i><h1>WTA</h1></i></div>
	<nav>
		<span>Home</span>  
		<a href="/showall">Show all</a>  
		<a href="/weightform">Add new weight</a>
	</nav>
<h3>Weight tracking app</h3>
<p>The WTA stores your weight to show a progress and keep the records for future analysis</p>
<p><a href="/weightform">Submit</a> your weight, or <a href="/showall">see</a> stored values.</p>

</body>
</html>